.fondo-pantalla {
  background-image: url("../../assets/backgorund1.png"); /* Ajusta el nombre de tu imagen y la ruta según tu estructura de proyecto */
  background-color: rgba(0, 0, 0, 0.9);
  background-size: cover; /* Ajusta según tus preferencias */
  background-position: center; /* Ajusta según tus preferencias */
  background-repeat: no-repeat; /* Ajusta según tus preferencias */
  min-height: 100vh; /* Esto asegura que el fondo cubra toda la altura de la ventana */
}
